@use "@helpers" as *;

.heroSection {
	background: url("@assets/images/hero-bg.jpg") center/cover no-repeat;
	padding-block: rem(96);

	@include tablet {
		padding: rem(45) rem(20);
	}

	&Title {
		@include text-shadow();

		font-weight: 700;
		font-size: rem(96);
		text-transform: capitalize;
		text-align: center;
		color: #fffdfa;

		@include mobile {
		font-size: var(--font-size-48);
		}
	}
}

.accent {
	color: var(--color-accent-light);
}