@use "@helpers" as *;

.category {

	&List {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: rem(26);

		@include tablet {
			grid-template-columns: repeat(2, 1fr);
		}

		@include mobile {
			gap: rem(16);
			grid-template-columns: 1fr;
		}
	}

	&Item {
		height: rem(245);
	}
}

.errorContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: rem(20);

	> p {
		font-size: rem(40);
		font-weight: 400;
		color: var(--color-dark);
	}

	> button {
		border: rem(1) solid var(--color-dark);
		padding: rem(10) rem(20);

		@include hover {
			background-color: var(--color-accent);
			color: var(--color-light);
			border-color: transparent;
		}
	}
}