@use '@helpers' as *;

.imagesList {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: rem(26);
	margin-bottom: var(--spacing-26);

	@include tablet {
		grid-template-columns: repeat(2, 1fr);
	}

	@include mobile {
		grid-template-columns: 1fr
	}

	&Item {
		height: rem(232);
	}
}

.emptyImagesListDescription {
	padding-block: rem(100);
	font-family: var(--font-family-secondary);
	font-weight: 700;
	font-size: var(--font-size-64);
	text-transform: capitalize;
	text-align: center;
	color: #393939;

	@include mobile {
		font-size: var(--font-size-48);
	}
}

.accent {
	color: var(--color-accent-light);
}