@use '@helpers' as *;

.footer {
	background: var(--layout-bg-gradient);

	&Container {
		padding-top: rem(80);
		padding-bottom: rem(30);

		@include mobile {
			padding-top: rem(40);
		}

		@include mobile-s {
			padding-inline: rem(55);
		}

		@include mobile-s {
			padding-top: rem(33);
			padding-bottom: rem(10);
		}
	}

	&Socials {
		display: flex;
		flex-direction: column;
		row-gap: rem(25);
	}

	&Body {
		display: grid;
		grid-template-columns: auto 1fr;
		column-gap: rem(85);
		margin-bottom: rem(30);

		@include tablet {
			column-gap: rem(60);
		}

		@include mobile {
			grid-template-columns: 1fr;
			row-gap: rem(35);
		}
	}

	&Copyright {
		font-weight: 400;
		font-size: var(--font-size-16);
		color: #ffffff99;

		@include mobile-s {
			text-align: center;
			width: 100vw;
			position: relative;
			left: 50%;
			right: 50%;
			translate: -50% -50%;
			padding-inline: rem(18);
		}
	}

	&ColumnList {
		display: grid;
		grid-template-columns: repeat(4, auto);
		column-gap: rem(85);

		@include desktop {
			grid-template-columns: repeat(2, auto);
			row-gap: rem(30);
		}

		@include mobile-s {
			grid-template-columns: 1fr;
		}
	}
}

.companyDescription {
	width: rem(248);
	font-weight: 400;
	font-size: var(--font-size-16);
	color: #ffffff99;
	line-height: 157%;
}

.socials {

	&List {
		display: flex;
		column-gap: rem(12);
	}

	&Item {
		width: rem(30);
		height: rem(30);
		border-radius: var(--radius-round);
		background-color: var(--color-light);

		transition-duration: var(--transition-duration);
		@include hover {
			background-color: var(--color-accent);

			& path {
				fill: var(--color-light);
			}
		}

		> a {
			@include flex-center();
			width: rem(30);
			height: rem(30);
		}
	}

	&Img {
		width: rem(17);
		height: rem(17);

		& path {
			fill: var(--color-dark);
		}
	}
}

.logo {
	min-width: rem(267);
}

