@use '@helpers' as *;

.modal {
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.5);

	backdrop-filter: blur(8px);
	z-index: 100;

	&Inner {
		z-index: 1000;
		@include abs-center();
	}
}

.selectedCard {
	width: rem(700);
	height: rem(600);

	@include tablet {
		width: rem(600);
		height: rem(500);
	}

	@include mobile {
		width: rem(400);
		height: rem(350);
	}

	@include mobile-s {
		@include square(305)
	}
}

.closeModalButton {
	@include square(25);
	position: absolute;
	top: rem(-30);
	right: rem(-30);

	@include hover {
		&::before, &::after {
			background-color: var(--color-accent-light);
		}
	}

	&::before, &::after {
		content: '';

		@include abs-center();

		width: 100%;
		height: rem(2);
		background-color: var(--color-light);
		transition-duration: var(--transition-duration);
	}

	&::before {
		rotate: 45deg;
	}

	&::after {
		rotate: -45deg;
	}
}

.cardButton {

	&Prev, &Next {
		position: absolute;
		top: 50%;
		z-index: -1;

		@include square(58);
		border-radius: 50%;
		background-color: var(--color-accent-light);

		@include hover {
			transform: scale(1.1);
		}

		@include tablet {
			top: calc(100% + 20px);
		}

		@include mobile {
			@include square(40);
		}
	}

	&Prev {
		translate: -100% -50%;
		left: rem(-47);

		@include tablet {
			translate: 0;
			left: 30%;
		}

		&::after {
			content: "";
			z-index: 1;
			@include abs-center();
			@include square(15);

			background: url("@assets/icons/prev-icon.svg") center/cover no-repeat;
		}
	}

	&Next {
		translate: 100% -50%;
		right: rem(-47);

		@include tablet {
			translate: 0;
			right: 30%;
		}

		&::after {
			content: "";

			@include abs-center();
			z-index: 1;
			@include square(15);

			background: url("@assets/icons/next-icon.svg") center/cover no-repeat;
		}

	}
}